body {
  color: white;
  font: Cormorant; font-family: Garamond;
}

.topnav {
    background-color: black;
    overflow: hidden;
}

.topnav a {
    color: white;
    font-size: 20px;
    text-align: center;
    font-style: normal;
    margin: 2em;
}

img {
  float: left;
  margin: 4em;
}

p {
  color: gray;
  margin: 3em;
  font-size: 21px;
}

button {
  padding: 21px 34px;
  letter-spacing: .05em;
  font-family: Cormorant Garamond;
  font-size: 20px;
  font-weight: 400;
  font-style: normal;
  text-transform: none;
  letter-spacing: 0.05em;
  color: #ffffff;
  background-color: #2d3138;
  border-color: #2d3138;
  }
